
@{
    ViewBag.Title = "Academia";
    var usuario = (Business.Entities.Usuario)Session["Usuario"];
}


<div class="jumbotron">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">Hoy es @DateTime.Now.Date.ToString("dd/MM/yyyy")</p>
    <hr class="my-4">
    <p>Utilice las distintas opciones para gestionarme correctamente lo que desee</p>
    <h2>Acciones rapidas:</h2>
    @if (usuario.TipoPersona == 2)
    {
        <a href="~/Inscripcion/InscripcionAlumno">Inscribirse a una materia</a>
    }

</div>