@model UI.WebMvc.Models.Especialidad

@{
    ViewBag.Title = "Borrar";

}

<h2>Borrar</h2>

<h3>Esta seguro de borrar la siguiente especialidad?</h3>
<div>
    <h4>Datos de especialidad:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a especialidades", "Index")
        </div>
    }
</div>
