@using ReportViewerForMvc;
@{
    /**/

    ViewBag.Title = "ReportPlanes";

}

<h2>ReportPlanes</h2>
<div class="col-12">
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
</div>

