@model IEnumerable<UI.WebMvc.Models.CursoModel>
@{

}


@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Comisiones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionComision)
                </td>
                @if (item.Cupo != 0)
                {
                    <td>
                        @Html.ActionLink("Seleccionar", "GenerarInscripcion", "Inscripcion", new { idcurso = item.ID }, new { @class = "btn btn-primary" })
                    </td>
                }
                else
                {
                    <td class="text-danger">Sin Cupo</td>
                }

            </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No hay comisiones cargadas para inscribir por el momento.</h1>
}



