<div class="form-horizontal">
    <h4>Inscribir alumno</h4>
    <hr />
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" onsubmit="" class="btn btn-default" />
        </div>
    </div>
</div>


