

<div class="card col-md-12 col-12">
    <div class="card-body">
        <h5 class="card-title">Gestion de planes</h5>
        <p class="card-text">Permite la registración,modificacion y borrado de los datos de planes academicos en el sistema</p>
        @Html.ActionLink("Ingresar", "Index", "Planes", null, new { @class = "btn btn-primary" })
    </div>
    <div class="card-body">
        <h5 class="card-title">Gestion de materias</h5>
        <p class="card-text">Permite la registración,modificacion y borrado de los datos de materias en el sistema</p>
        @Html.ActionLink("Ingresar", "Index", "Materias", null, new { @class = "btn btn-primary" })
    </div>
    <div class="card-body">
        <h5 class="card-title">Gestion de especialidades</h5>
        <p class="card-text">Permite la registración,modificacion y borrado de los datos de especialidades en el sistema</p>
        @Html.ActionLink("Ingresar", "Index", "Especialidades", null, new { @class = "btn btn-primary" })
    </div>
</div>

