<div class="card col-md-12 col-12">
    <div class="card-body">
        <h5 class="card-title">Gestion de cursos</h5>
        <p class="card-text">Permite la registración, modificacion y borrado de los datos de cursos en el sistema</p>
        @Html.ActionLink("Ingresar", "Index", "Cursos", null, new { @class = "btn btn-primary" })
    </div>
    <div class="card-body">
        <h5 class="card-title">Gestion de comisiones</h5>
        <p class="card-text">Permite la registración, modificacion y borrado de los datos de comisiones en el sistema</p>
        @Html.ActionLink("Ingresar", "Index", "Comisiones", null, new { @class = "btn btn-primary" })
    </div>
</div>
